<div ng-controller="AboutCtrl">
	<div class="panel panel-primary">
		<div class="panel-heading">
		  <h3 class="panel-title">{{ 'SITE_ABOUT' | translate}}</h3>
		</div>
		<div class="panel-body">
		<p>{{ 'ABOUT_LINE1' | translate}}</p>
		<p>{{ 'ABOUT_LINE2' | translate}}
			<ul>
				 <li>{{ 'ABOUT_LINE3' | translate}}</li>
				 <li>{{ 'ABOUT_LINE4' | translate}}</li>
			 </ul>
		 </p>
		 <p>
		 	{{ 'ABOUT_LINE5' | translate}} <a href="https://bootswatch.com/united/">https://bootswatch.com/united/</a>. 
		 </p>
		 <p>
		 <strong>{{ 'ABOUT_LINE6' | translate}}</strong><br/>
		 (1) <a href="http://www.phdnm.org/uploads/3/0/0/1/3001973/sonderkommandos.htm#_Toc309033238">L’opinion d’un spécialiste des gaz de combat [fr]</a><br/>
		 (2) <a href="http://www-das.uwyo.edu/~geerts/cwx/notes/chap01/ox_exer.html">How long can we survive in a sealed enclosure? [en]</a> <br/>
		 (3) <a href="http://intra-science.anaisequey.com/mathematiques/mathematiques/141-volume-surface-population">Quel est le volume et la surface qu'occupe l'Humanité? [fr]</a><br/>
		 </p>
		</div>
	</div>
</div>